VITE_SUPABASE_URL=https://oqwffebporpazndndpbi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xd2ZmZWJwb3JwYXpuZG5kcGJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzUxMjIsImV4cCI6MjA4ODk1MTEyMn0.czY8Eq97n9-_sTiYtYmuBsm98R0P9wIrtqjNFCFB2JE
